*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --clr-text: #e6edf9;
  --clr-bg: #020508;
  --clr-primaire: #90ace4;
  --clr-secondaire: #53228c;
  --clr-accent: #aa3acf;
  scroll-behavior: smooth;
}

html {
  font-family: "latoi";
}

body {
  max-height: 100vh;
  color: var(--clr-text);
  background-color: var(--clr-bg);
}

header img {
  height: 8vh;
  width: 8vh;
  border-radius: 30%;
  background: radial-gradient(closest-side, #ddd, #000);
}

figure {
  display: flex;
  flex-flow: nowrap row;
  align-items: center;
  gap: 20px;
  margin-left: 5%;
}

header {
  display: flex;
  flex-flow: row nowrap;
  border-bottom: var(--clr-accent) 3px solid;
  height: 10vh;
}

/*
ScrollBar

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background: var(--clr-secondaire);
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--clr-accent);
}

::-webkit-scrollbar-track {
  background: var(--clr-bg);
}
*/

.swiper {
  margin-top: 3vh;
}

/* Cards */

.swiper-slide {
  width: 37rem;
  height: 42rem;
}

@media (max-width: 500px) {
  .swiper-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .swiper-slide a img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.swiper-slide a img {
  width: 37rem;
  height: 42rem;
  border-radius: 2rem;
  object-fit: cover;
}

.swiper-slide .swiper-slide-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.swiper-slide-content .food-price {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: var(--white);
}

.swiper-slide-content .swiper-slide-content-bottom {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: var(--white);
}

.swiper-button-next {
  right: 0;
  border-radius: 10px 0 0 10px;
}

.swiper-button-prev {
  left: 0;
  border-radius: 0 10px 10px 0;
}

.slider-arrow {
  position: fixed;
  top: 50%;
  transform: translateY(-75%);
  transition: all 0.5s;
  height: 15vh;
  width: 3%;
}

.slider-arrow ion-icon {
  font-size: 2rem;
  color: var(--clr-text);
}

.slider-arrow::after {
  content: "";
}

.slider-arrow:hover {
  background-color: var(--clr-secondaire);
}

.nav {
  position: absolute;
  left: 50%;
  bottom: 1vh;
  transform: translateX(-50%);
  z-index: 3;
  height: 3vh;
}

.swiper-pagination {
  position: relative;
  width: 30px;
  background-color: var(--clr-secondaire);
  padding: 10px;
  border-radius: 10px;
}
.swiper-pagination span {
  width: auto;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 1rem var(--clr-accent));
  background-color: var(--clr-text);
  color: var(--clr-bg);
  width: 50px;
  height: 20px;
  border-radius: 10px;
  opacity: 0.5;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--clr-text);
  opacity: 1;
}

@media (max-width: 990px) {
  html {
    zoom: 0.8;
  }
}
