@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap);
@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Oswald:wght@200..700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --clr-text: #e6edf9;
  --clr-bg: #020508;
  --clr-primaire: #90ace4;
  --clr-secondaire: #53228c;
  --clr-accent: #aa3acf;
  --header-size: 10vh;
}

html {
  font-family: "lato";
  overflow-y: hidden;
}

body {
  max-height: 100vh;
  color: var(--clr-text);
  background-color: var(--clr-bg);
}

header img {
  height: calc(var(--header-size) - 2vh);
  width: 8vh;
  border-radius: 30%;
  background: radial-gradient(closest-side, #ddd, #000);
}

figure {
  display: flex;
  flex-flow: nowrap row;
  align-items: center;
  gap: 20px;
  margin-left: 5%;
}

figcaption {
  font-size: 1.6rem;
  font-family: "Oswald";
}

header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  border-bottom: var(--clr-accent) 3px solid;
  height: var(--header-size);
}

main {
  height: calc(100vh - var(--header-size));
}

/* Lien Qrcode */

.lienQrcode {
  text-align: center;
  margin-right: 10px;
  padding: 15px;
  color: var(--clr-text);
  background-color: var(--clr-secondaire);
  border-radius: 10px;
}

.lienQrcode:hover {
  background-color: #45228c;
}

.lienQrcode:active {
  background-color: var(--clr-accent);
}

.swiper {
  margin-top: 3vh;
  padding-right: 20em;
}

/* Cards */

.swiper-slide {
  width: fit-content;
  height: 42rem;
}

.swiper-slide a img {
  height: 80vh;
  width: calc(80vh * 0.707);
  object-fit: cover;
}

.swiper-slide .swiper-slide-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.swiper-slide-content {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: var(--white);
}

.swiper-slide-content .swiper-slide-content-bottom {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: var(--white);
}

.swiper-button-next {
  right: 0;
  border-radius: 10px 0 0 10px;
}

.swiper-button-prev {
  left: 0;
  border-radius: 0 10px 10px 0;
}

.slider-arrow {
  position: fixed;
  top: 50%;
  transform: translateY(-75%);
  transition: all 0.5s;
  height: 15vh;
  width: 3%;
}

.slider-arrow ion-icon {
  font-size: 2rem;
  color: var(--clr-text);
}

.slider-arrow::after {
  content: "";
}

.slider-arrow:hover {
  background-color: var(--clr-secondaire);
}

.nav {
  position: absolute;
  left: 50%;
  bottom: 1vh;
  transform: translateX(-50%);
  z-index: 3;
  height: 3vh;
}

.swiper-pagination {
  position: relative;
  width: 30px;
  background-color: var(--clr-secondaire);
  padding: 10px;
  border-radius: 10px;
}

.swiper-pagination span {
  width: auto;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 1rem var(--clr-accent));
  background-color: var(--clr-text);
  color: var(--clr-bg);
  width: 50px;
  height: 20px;
  border-radius: 10px;
  opacity: 0.5;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--clr-text);
  opacity: 1;
}

/* Qrcode */

#qrcode {
  width: 40%;
  margin-top: 50px;
  margin-left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-flow: column nowrap;
}

#qrcode figcaption,
#qrcode a {
  text-align: center;
  color: #fff;
}

#qrcode figcaption a:hover {
  color: var(--clr-primaire);
}

#qrcode input {
  margin-top: 10px;
  padding: 10px;
  color: var(--clr-text);
  background-color: #45228c;
  border: none;
}

#qrcode input:hover {
  background-color: #53228c;
}

#qrcode input:active {
  background-color: #aa3acf;
}

@media (max-width: 990px) {
  html {
    zoom: 0.8;
  }

  .swiper {
    padding-right: 0;
  }

  .slider-arrow {
    position: unset;
    visibility: collapse;
  }

  .nav {
    width: 80%;
    height: 30px;
  }
}

@media (max-width: 500px) {
  .swiper-slide {
    top: 50%;
    width: 25rem !important;
    height: 36rem !important;
  }

  #qrcode {
    width: 80%;
  }
}
